<div class="tq-pnj-importer">
  <p class="tq-pnj-importer-hint">{{localize "TQ.Importer.PNJHint"}}</p>
  <textarea class="pnj-raw-text">{{ejemploTexto}}</textarea>
  <div class="tq-pnj-importer-acciones">
    <button type="button" class="pnj-import-btn">
      {{localize "TQ.Botones.Importar"}}
    </button>
  </div>
</div>
